body {
    background: #21252B;
    color:#F1F1F1 ;
    font-family: 'Noto Sans',arial, sans-serif;
    font-size: 100%;
}
h1 {
  text-align: center;
}

.ParentVH {
  border: 3px solid black;
  //height: 93vh;
  display: flex;
  flex-wrap: wrap;
  margin:10px;
}

.parentBox {
  width: 100%;
  display: grid;
  padding: 1em;
  grid-column-gap: 20px;
  grid-row-gap: 17px;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.box{
  min-height: 270px;
  display: grid;

  //remove later
  place-items: center;
  background: linear-gradient(315deg, #550AEE, #C424FF);

  border-radius: 20px;
  transition: all .12s ease-in-out;
}

.boxText {
  border: 3px solid black;
  font-weight: lighter;
  display: flex ;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  color:white;
}

.boxHeading {
  font-weight: lighter;
  text-align: center;
  font-size: 1.5rem;
  display: table;
  margin: 0 auto;
  padding-top: 15px;
}

.box:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -ms-transform:scale(1.1);
  overflow: hidden;
}

.image {
  display: block;
  margin: 0 auto;
  overflow: auto;
  border: 2px solid #E9B5FE;
  background: #E9B5FE;
  border-radius: 1rem;
  padding: 1rem;
}

.ParentVHHeading {
  border: 4px solid black;
  flex-basis: 100%;         //makes the title above the parentBox
}

.SectionHeading {
  text-align: center;
  margin: 0px;
  font-size: 2rem;
  font-weight: lighter;
}

.parent {
  border: 3px solid black;
  height: 99vh;
  margin:10px;
}

/*
@media (min-width: 1700px) {
  h1::after {
    content: "Desktop-User"
  }
  .container >.card {
       width: 23.5%;
       height: 400px;
     }
}

@media (max-width: 859px) {
  h1::after {
    content: "Mobile-User"
  }

  .container >.card {
    width: 100%;
  }
}
@media (max-width: 1299px) and (min-width:860px) {
  h1::after {
    content: "Großer Mobile-User"
  }
  .container >.card {
    width: 47%;
  }
}
@media (max-width: 1699px) and (min-width:1300px) {
  h1::after {
    content: "Kleiner Desktop"
  }
  .container >.card {
    width: 31.5%;
  }
}
@media screen and (max-height:1000px) {
  h1::before {
    content: "Hello "
  }
  .ParentVH {
    height: 450vh;
    }
}
*/
