
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background: #21252B;
  color: #F1F1F1;
  font-family: 'Century Gothic', arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;

}

h1 {
  /*text-align: center;*/
}
.Landing {
  /*source:https://www.pexels.com/de-de/foto/code-daten-dunkel-html-2653362/*/
  /* background-image: url("./images/LandingBackground_blur.jpeg"); */
  background-image: url("./images/LandingBackground_blurdark.jpeg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LandingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-weight: lighter;
  margin:0;
  font-family: arial;
  font-size: 8rem;
  line-height: 1;
}
@keyframes LoadExpiriences {
  0% {

    background-position: right top;

  }
  100% {

    background-position: left center;

  }
}
#Developing {
  text-shadow: white 0px 0px 1px;
  color: #F2F1F2;
  font-family: 'Century Gothic';
}

#Experiences {
  font-family: 'Indie Flower',cursive;
  padding-bottom: 20px;

  font-size: 11rem;
  letter-spacing: 0.5rem;

  background: linear-gradient(225deg, white 22%, #F1AEFF 85%, #0054D5);
  background: linear-gradient(225deg, white 22%, rgba(241, 174, 255,1) 85%, rgba(85, 141, 227,1));

  background-size: 450% 105%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 3s ease 0s 1 LoadExpiriences;
}


#btn {
  border: 2px;
  border-radius: 30px;
  opacity: 0.85;

  text-align: center;

  color: black;
  font-size: 2rem;

  background: linear-gradient(225deg, white 22%, #F1AEFF 35%, #0054D5);

  background-size: 450% 105%;
  background-position: center center;

  position: absolute;
  left: 0;
  right: 0;

  width: 500px;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  margin: 300px auto 200px auto;

  text-transform: uppercase;

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  /*display: inline;*/

  text-decoration: none;
  backface-visibility: hidden;
}

.ParentVH {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #282C34;
  padding-top: 20px;
  padding-bottom: 40px;
}
.ParentVHHeading {
  /*makes the title above the parentBox */
  flex-basis: 100%;
  margin-bottom: 20px;
}

.parentBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  grid-column-gap: 22px;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
}

.box {
  min-height: 300px;
  display: grid;
  max-width: 350px;
  min-width: 350px;
  background: #F2F1F2;
  border-radius: 20px;
  /*transition: all .12s ease-in-out;* !*/
  transform: translate(0px, 0);
  transition: -webkit-transform 0.2s ease-in-out;
  -webkit-transform: translate(0px, 0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transform: translate(0px, 0);
  -moz-transition: -moz-transform 0.2s ease-in-out;
  overflow: hidden;
}

/*!remove Test if darker Mode is better*/

.box:nth-child(2) {
  background: #1C1E22;
}

.box:nth-child(2) .boxText{
  color: #C8C8C8;
}
.box:nth-child(2) .imageBox, .box:nth-child(2) img{
  background-color: #6F7277;
}

.box:nth-child(2) .boxHeading{
  color: white;
}
.box:nth-child(2) a{
  color: white;
  border: 2px solid black;
}


.box:nth-child(3) {
  background: #C0BFC0;
}

.box:nth-child(3) .boxText{
  color: #383838;
}
.box:nth-child(3) .imageBox, .box:nth-child(3) img{
  background-color: #F2F1F2;
}

.box:nth-child(3) .boxHeading{
  color: black;
}
.box:nth-child(3) a{
  color: #383838;
  border: 2px solid black;
}


.boxInside {
  position: relative;
  /*Fixes the text-jaggering on the hovering event for Firefox*/
  -moz-transform: rotate(0.02deg);
}

.boxHeading {
  font-weight: lighter;
  text-align: center;
  font-size: 1.7rem;
  display: table;
  margin: 0 auto;
  padding-top: 8px;
  color: black;
}

.boxText {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  color: #383838;
  line-height: 1.3;
  margin-left: 14%;
  margin-right: 12%;
  padding-top: 5px;
}

.imageBox {
  width: 100%;
  background: white;
  margin: 0 auto 0 auto;
}

.image {
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  background: white;
}

.button {
  border: 2px solid #616161;
  border-radius: 30px;
  text-align: center;
  color: #616161;
  font-size: 1.1rem;
  /*font-weight: bold;*/
  width: 80%;
  position: absolute;
  bottom: 25px;
  right: 10%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  /*display: inline;*/
  text-decoration: none;
  backface-visibility: hidden;
}



.box:nth-child(1) .button {
  background: linear-gradient(225deg, white 23%, #F1AEFF 40%, #0054D5);
  background-size: 450% 105%;
  background-position: right top;
  transition: all 0.7s ease;
}

.box:nth-child(2) .button {
  background: linear-gradient(225deg, #3a3f44 23%, #F1AEFF 45%, #0054D5);
  background-size: 450% 105%;
  background-position: right top;
  transition: all 0.7s ease;
}

.box:nth-child(3) .button {
  background: linear-gradient(225deg, white 22%, #F1AEFF 35%, #0054D5);
  background: linear-gradient(225deg, white 22%, #F1AEFF 35%, #0054D5);
  background-size: 450% 105%;
  background-position: right top;
  transition: all 0.7s ease;
}

.box:nth-child(4) .button {
  background: linear-gradient(225deg, white 22%, #F1AEFF 35%, #0054D5);
  background-size: 450% 105%;
  background-position: right top;
  transition: all 0.7s ease;
}

.box:hover .button {
  background-position: center center;
  /*background-size:300% 100%;*/
  color: black;
  /*border-color: #383838;*/
}

.SectionHeading {
  text-align: center;
  margin: 0px;
  font-size: 2.5rem;
  font-weight: lighter;
}

.parent {
  height: 100vh;
  width: 100%;
  display: flex;
  background: #A1A0A1;
}

@media (max-width: 423px) and (orientation: portrait) {
  .Landing {
    height: 100vh;
  }
  .content h1 {
  font-size: 2.1rem;
  }

  #Experiences {
    font-size: 2.3rem;
    letter-spacing: 0.1;
  }
  #btn{
    width: 220px;
    font-size: 1rem;
    margin-top: 100px;
  }
  .SectionHeading {
    font-size: 1.5rem;
  }
  .SectionHeading::after {
    content: "Mini Mobile-User"
  }

  .box {
    min-width: 99%;
    min-height: 290px;
  }
  .boxHeading {
    padding-top: 1px;
  }

  .boxText {
    font-size: 1rem;
    margin-top: 0px;
    padding-top: 0px;
  }

  .button {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .box:nth-child(8), .box:nth-child(7), .box:nth-child(6), .box:nth-child(5)  {
    display: none;
  }
}


/*mediaQuerry for mobile*/
@media (max-width: 510px) and (min-width: 424px)and (orientation: portrait) {

  .content h1 {
  font-size: 2.5rem;
  }

  #Experiences {
    font-size: 2.7rem;
    letter-spacing: 0.1;
  }
  .SectionHeading {
    font-size: 2rem;
  }
  .SectionHeading::after {
    content: "Mobile-User"
  }

  .box {
    max-width: 100%;
  }

  .boxHeading {
    padding-top: 3px;
  }

  .boxText {
    font-size: 1rem;
    margin-top: 0px;
  }

  .boxHeading {
    font-size: 2rem;
  }

  .learnMore {
    margin-top: 10%;
  }

  .image {
    height: 70px;
  }

  #btn{
    width: 250px;
    font-size: 1.1rem;
    margin-top: 100px;
  }
  .box {
    min-height: 300px;
  }

  .box:nth-child(8), .box:nth-child(7), .box:nth-child(6), .box:nth-child(5)  {
    display: none;
  }
}
/*Media-Quarry for ipad*/
@media (min-width:511px) and (max-width: 769px) and (orientation: portrait) {


  .content h1 {
  font-size: 4rem;
  }
  #Experiences {
    font-size: 5rem;
    letter-spacing: 0.1;
  }
  .SectionHeading::after {
    content: "I-Pad User";
  }
  #btn{
    width: 350px;
    font-size: 1.5rem;
    margin-top: 200px;
  }
  .box:nth-child(8), .box:nth-child(7) {
    display: none;
  }

}
@media (min-width:770px) and (max-width: 1140px) and (orientation: portrait) {
  .content h1 {
  font-size: 5rem;
  }
  #Experiences {
    font-size: 6rem;
    letter-spacing: 0.1;
  }
  .SectionHeading::after {
    content: "I-Pad Pro User";
  }
  #btn{
    width: 350px;
    font-size: 1.5rem;
    margin-top: 200px;
  }
  .box:nth-child(8), .box:nth-child(7), .box:nth-child(6) , .box:nth-child(5)  {
    display: none;
  }

}
@media (min-width: 1141px) and (max-width: 1600px){
  #Experiences {
    font-size: 5rem;
    letter-spacing: 0.1;
  }

  #btn{
    width: 350px;
    font-size: 1.5rem;
    margin-top: 25%;
    margin-bottom: 0px;
  }

  .SectionHeading::after {
    content: "Desktop-User";
  }
  .box:nth-child(8), .box:nth-child(7) {
    display: none;
  }
}

@media (min-width: 1601px){
  #Experiences {
    font-size: 11rem;
    letter-spacing: 0.1;
  }


  .SectionHeading::after {
    content: "Desktop-User (>1600)";
  }
  .box:nth-child(8), .box:nth-child(7), .box:nth-child(6) {
    display: none;
  }
}


/*
@media (max-width: 859px) {
  .SectionHeading::after {
    content: "Mobile-User"
  }
  .container >.card {
    width: 100%;
    height: 600px;
  }
}
@media (max-width: 1299px) and (min-width:860px) {
  .SectionHeading::after {
    content: "Großer Mobile-User"
  }
  .container >.card {
    width: 47%;
  }
}
@media (max-width: 1699px) and (min-width:1300px) {
  .SectionHeading::after {
    content: "Kleiner Desktop"
  }
  .container >.card {
    width: 31.5%;
  }
}
